@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script>
    var keyValue = $.request("keyValue");
    var availableTags = [];
    var itemlist = "";
    var lastrow = -1;
    var lastcell = -1;
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PatientManage/StorageManage/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
        gridList();
    });
    function initControl() {
        $("#F_ImpClass").bindSelect();
        $("#F_ImpType").bindSelect();
    }
    function gridList() {
        var $gridList = $("#gridDrugList");
        $gridList.dataGrid({
            url: "/PatientManage/StorageManage/GetImportDetailGridJson?keyValue=" + keyValue,
            height: $(window).height() - 90,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '药品主键', name: 'F_ItemId', hidden: true },
                { label: '代码', name: 'F_Code', width: 100, align: 'left' },
                {
                    label: '名称',
                    name: 'F_Name',
                    width: 200,
                    align: 'left'
                },
                { label: '规格', name: 'F_Spec', width: 100, align: 'left' },
                { label: '单位', name: 'F_Unit', width: 80, align: 'left' },
                { label: '价格', name: 'F_Charges', width: 100, align: 'left' },
                {
                    label: '数量', name: 'F_Amount', width: 100, align: 'left', editable: false, formatter: 'integer',
                    formatoptions: { thousandSeparator: ',', defaulValue: 1 }
                },
                { label: '金额', name: 'F_TotalCharges', width: 100, align: 'left' },
            ],
            viewrecords: true,
            autoScroll: true
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">基本信息</a></li>
            <li role="presentation"><a href="#extend" role="tab" data-toggle="tab">扩展信息</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px; margin-right: 10px; ">
            <div role="tabpanel" class="tab-pane active" id="basic">
                <table class="form">
                    <tr>
                        <th class="formTitle">入库类型</th>
                        <td class="formValue">
                            <select id="F_ImpClass" name="F_ImpClass" class="form-control">
                                <option value="药品入库">药品入库</option>
                                <option value="耗材入库">耗材入库</option>
                            </select>
                        </td>
                        <th class="formTitle">入库类别</th>
                        <td class="formValue">
                            <select id="F_ImpType" name="F_ImpType" class="form-control">
                                <option value="采购入库">采购入库</option>
                            </select>
                        </td>
                        <th class="formTitle">入库日期</th>
                        <td class="formValue">
                            <input id="F_ImpDate" name="F_ImpDate" class="form-control input-wdatepicker required" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'})" autocomplete="off"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">入库单号</th>
                        <td class="formValue">
                            <input id="F_ImpNo" name="F_ImpNo" class="form-control" />
                        </td>
                        <th class="formTitle">存放位置</th>
                        <td class="formValue">
                            <input id="F_Storage" name="F_Storage" class="form-control" />
                        </td>
                        <th class="formTitle">总金额(元)</th>
                        <td class="formValue">
                            <input id="F_Costs" name="F_Costs" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            供货商
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_Supplier" name="F_Supplier" class="form-control" style="height: 40px; width :760px"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">供应商联络人</th>
                        <td class="formValue">
                            <input id="F_Contacts" name="F_Contacts" class="form-control" />
                        </td>
                        <th class="formTitle">供应商电话</th>
                        <td class="formValue">
                            <input id="F_SupplierPhone" name="F_SupplierPhone" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="extend">
                <div class="gridPanel">
                    <table id="gridDrugList"></table>
                </div>
            </div>
        </div>

    </div>
</form>
