@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/select2/select2.min.js"></script>
<script src="~/Content/js/highcharts/highcharts.js"></script>
<script src="~/Content/js/datepicker/WdatePicker.js"></script>
<script>
    var itemlist = []
    var sumList = []
    var gridData = []
    var lineData = []
    var filterrows = []

    var colors = ["#8600FF", "#00FFFF", "#A8FF24", "#F9F900", "#D94600", "#984B4B", "#5CADAD", "#AE57A4", "#FF0000", "#FF60AF", "#FF44FF"]

    $(function () {
        var dateEnd = new Date();
        var dateStart = new Date(dateEnd.getTime() - 86400000 * 30)
        $("#endDate").val(dateEnd.Format("yyyy-MM-dd"))
        $("#startDate").val(dateStart.Format("yyyy-MM-dd"))
        $.ajax({
            url: "/PatientManage/Patient/GetSelectJson",
            dataType: "json",
            async: false,
            success: function (value) {
                //itemlist = value;
                itemlist.push({ id: "", text: "全部" })
                if (value.length > 0) {
                    $.each(value, function (index, item) {
                        var obj = {};
                        obj.id = item.id;
                        obj.text = item.name + "(No." + item.recordNo + ")" + item.py;
                        itemlist.push(obj);
                    }
                    );
                    //var arr = [
                    //    '恩施博仁肾病医院',
                    //    '娄底环生医院',
                    //    '铁西透析中心',
                    //    '沭阳维康医院',
                    //    '邢台环生中医院',
                    //    '宜昌环生肛肠医院',
                    //];
                    //$.each(arr, function (index, item) {
                    //    var obj = {};
                    //    obj.id = index + 2;
                    //    obj.text = item;
                    //    itemlist.push(obj);
                    //}
                    //);
                }
            }
        });

        $("#itemCode").bindSelect({
            data: itemlist,
            search: true
        });

        $("#filterType").bindSelect();

        gridList();
    });

    function btn_query() {
        var paras = {}
        paras.startDate = $("#startDate").val()
        paras.endDate = $("#endDate").val()
        paras.itemCode = $("#itemCode").val()
        $.ajax({
            url: "/DataStatistics/BloodPress/GetSummaryAllJson?keyValue=" + encodeURI(JSON.stringify(paras)),
            dataType: "json",
            async: false,
            success: function (value) {
                //console.log(value)
                $("#filterType").bindSelect({
                    data: value.RangeData,
                    id: "Key",
                    text: "Value"
                });

                var piedata = []
                value.PieData.forEach((ele, index) => {
                    if (ele.Key === value.NormalRange) {
                        piedata.push({
                            name: ele.Key,
                            y: ele.Value,
                            sliced: true,
                            selected: true,
                            color: 'green'
                        })
                    } else {
                        piedata.push({
                            name: ele.Key,
                            y: ele.Value,
                            color: colors[index]
                        })
                    }

                })
                // Build the chart
                $("#container").highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: value.Title
                    },
                    subtitle: {
                        text: '单位：mmHg'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                //enabled: false
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: piedata,
                        events: {
                            click: function (e) {
                                //alert(e.point.name);
                                filterrows = gridData.filter(t => t.FilterValue === e.point.name)
                                var $gridList = $("#gridList");
                                $gridList.jqGrid('clearGridData');
                                $gridList.setGridParam({ data: filterrows }).trigger('reloadGrid');

                                drawLine(e.point.name);
                            }
                        }
                    }]
                });

                $("#sumCount").html("")
                //UlData
                var ulstr = ""
                var selectedItemName = $("#itemCode option:selected").text()
                value.UlData.forEach(ele => {
                    ulstr = ulstr + "<li>&nbsp;&nbsp;" + selectedItemName + "&nbsp;&nbsp;" + ele.Key + "&nbsp;&nbsp;<span class=\"time\">" + ele.Value + "&nbsp;&nbsp;&nbsp;例&nbsp;&nbsp;&nbsp;&nbsp;" + "</span></li>"
                })
                $("#sumCount").html(ulstr)
                gridData = value.GridData
                filterrows = gridData.filter(t => t.FilterValue === value.NormalRange)
                var $gridList = $("#gridList");
                $gridList.jqGrid('clearGridData');
                $gridList.setGridParam({ data: filterrows }).trigger('reloadGrid');
                //console.log(filterrows)
                //drawLine();
                lineData = value.TrendData
                drawLine(value.NormalRange);
            }
        });
    }


    function drawLine(selectedRange) {
        var categories = []
        var seriesData = []
        lineData.forEach(ele => {
            categories.push(ele.MonthDesc)
            var findrows = ele.Value.filter(t => t.Key === selectedRange)
            if (findrows.length > 0) {
                seriesData.push(findrows[0].Value)
            } else {
                seriesData.push(0)
            }
        })
        //var selectRangeRows = lineData.filter(t => t.MonthDesc === selectedRange)

        Highcharts.chart('linecontainer', {
            chart: {
                type: 'line'
            },
            title: null,

            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: '百分比 (%)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        // 开启数据标签
                        enabled: true
                    },
                    // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                    enableMouseTracking: false
                }
            },
            series: [{
                name: selectedRange,
                data: seriesData 
            }]
        });
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            //url: "/SystemManage/User/GetGridJson",
            datatype: 'local',
            height: 330,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '姓名', name: 'F_Name', width: 80, align: 'left' },
                { label: '性别', name: 'F_Gender', width: 80, align: 'left' },
                { label: '年龄', name: 'F_AgeDesc', width: 80, align: 'left' },
                {
                    label: '出生日期', name: 'F_BirthDay', width: 120, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '透析日期', name: 'F_VisitDate', width: 120, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                { label: '收缩压', name: 'F_SystolicPressure', width: 80, align: 'left' },
                { label: '舒张压', name: 'F_DiastolicPressure', width: 80, align: 'left' },
                { label: '血压', name: 'F_Desc', width: 80, align: 'left' },
                { label: '备注', name: 'F_Memo', width: 200, align: 'left' }
            ],
            pager: "#gridPager",
            rowNum: 20,
            rowList: [10, 20, 30, 40],
            sortname: 'F_Name asc',
            viewrecords: true,
            onPaging: function (pageBtn) {
                console.log(pageBtn);
                //var re_records = $jqgrid.getGridParam('records');//获取返回的记录数
                var re_page = $gridList.getGridParam('page');//获取返回的当前页
                var re_rowNum = $gridList.getGridParam('rowNum');//获取每页数
                var re_total = $gridList.getGridParam('lastpage');//获取总页数
                if (pageBtn === "next") {
                    console.log("next", re_page, re_rowNum, re_total)
                }
                if (pageBtn === "prev") {
                    console.log("next", re_page, re_rowNum, re_total)
                }
            }
        });
    }

    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px; min-width: 310px; height: 50px;">
        <table class="form">
            <tr>
                <th class="formTitle">起始日期</th>
                <td class="formValue">
                    <input id="startDate" name="startDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate: '%y-%M-%d'})" />
                </td>
                <th class="formTitle">截至日期</th>
                <td class="formValue">
                    <input id="endDate" name="endDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate: '%y-%M-%d'})" />
                </td>
                <th class="formTitle">项目</th>
                <td class="formValue">
                    <select id="itemCode" name="itemCode" type="text" class="form-control" placeholder="选择检验子项"></select>
                </td>
                <td class="formValue">
                    <div class="btn-group">
                        <a id="btn_query" class="btn btn-primary dropdown-text" onclick="btn_query()" style="width: 60px"><i class="fa fa-search"></i>查询</a>
                    </div>
                </td>
                <td />
                <td></td>
            </tr>
        </table>
    </div>
    <div class="rows" style="margin-bottom: 1%; overflow: hidden;">
        <div style="float: left; width: 59%;">
            <div style="height: 450px; border: 1px solid #e6e6e6; background-color: #fff;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-pie-chart fa-lg" style="padding-right: 5px;"></i>统计图片
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;">
                        <div id="container" style="height: 400px; width: 100%; padding-right: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float: right; width: 40%;">
            <div style="height: 200px; border: 1px solid #e6e6e6; background-color: #fff;">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-send fa-lg" style="padding-right: 5px;"></i>汇总数据</div>
                    <div class="panel-body">
                        <ul id="sumCount"></ul>
                    </div>
                </div>
            </div>
            <div style="height: 249px; border: 1px solid #e6e6e6; background-color: #fff;">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>最近6个月趋势</div>
                    <div class="panel-body">
                        <div id="linecontainer" style="height: 200px; width: 100%; padding-right: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float: left; width: 100%; margin-top: 5px;">
            <div style="height: 450px; border: 1px solid #e6e6e6; background-color: #fff;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bars fa-lg" style="padding-right: 5px;"></i>明细数据
                        @*<div style="float: right">
                                <select id="filterType" name="filterType" style="margin-top: -5px;" placeholder="选择类别"></select>
                                <span style="font-weight: 500;"><i class="fa fa-square" style="color: #dcdcdc; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>人数</span>
                            </div>*@
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;">
                        <div id="gridPanel" style="height: 420px; width: 100%; padding-right: 10px;">
                            <table id="gridList"></table>
                            <div id="gridPager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<style>
    .panel-default {
        border: none;
        border-radius: 0px;
        margin-bottom: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

        .panel-default > .panel-heading {
            color: #777;
            background-color: #fff;
            border-color: #e6e6e6;
            padding: 10px 10px;
        }

        .panel-default > .panel-body {
            padding: 10px;
            padding-bottom: 0px;
        }

            .panel-default > .panel-body ul {
                overflow: hidden;
                padding: 0;
                margin: 0px;
                margin-top: -5px;
            }

                .panel-default > .panel-body ul li {
                    line-height: 24px;
                    list-style-type: none;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                    .panel-default > .panel-body ul li .time {
                        color: #a1a1a1;
                        float: right;
                        padding-right: 5px;
                    }
</style>
