@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/select2/select2.min.js"></script>

<script>
    $(function () {
        gridList();           
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/DataStatistics/GuideInstruction/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '文件名称', name: 'F_InstructionName', width: 600, align: 'left' },
                { label: '文件类型', name: 'F_FileType', width: 60, align: 'left' },
                {
                    label: '上传时间', name: 'F_UploadDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                }
                ,{ label: '操作者', name: 'F_UploadPerson', width: 60, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'F_UploadDate desc',
            viewrecords: true
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增记录",
            url: "/DataStatistics/GuideInstruction/Form",
            width: "920px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_preview() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (!!keyValue) {
            $.modalOpen({
                id: "Form",
                title: "预览",
                url: "/DataStatistics/GuideInstruction/Details?keyValue=" + keyValue,
                width: "920px",
                height: "700px",
                btn: null
            });
        }
    }

    function btn_download() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
    }
    function btn_delete() {
        $.deleteForm({
            url: "/DataStatistics/GuideInstruction/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    //function btn_disabled() {
    //    var keyValue = $("#gridList").jqGridRowValue().F_Id;
    //    var orderType = $("#gridList").jqGridRowValue().F_IsTemporary;

    //    if (orderType.indexOf("长期") < 0) {
    //        $.modalMsg("注：该项医嘱非长期医嘱！");
    //        return;
    //    }

    //    $.modalConfirm("注：您确定要【停止】该项医嘱吗？", function (r) {
    //        if (r) {
    //            $.submitForm({
    //                url: "/PatientManage/Orders/StopOrder",
    //                param: { keyValue: keyValue },
    //                success: function () {
    //                    $.currentWindow().$("#gridList").trigger("reloadGrid");
    //                }
    //            })
    //        }
    //    });
    //}

    //function btn_checked() {
    //    var keyValue = $("#gridList").jqGridRowValue().F_Id;
    //    var status = $("#gridList").jqGridRowValue().F_OrderStatus;
    //    if (status.indexOf("新申请") < 0) {
    //        $.modalMsg("注：该项医嘱【已提交】！");
    //        return;
    //    }
    //    $.modalConfirm("注：您确定要【提交】该项医嘱吗？", function (r) {
    //        if (r) {
    //            $.submitForm({
    //                url: "/PatientManage/Orders/CheckOrder",
    //                param: { keyValue: keyValue },
    //                success: function () {
    //                    $.currentWindow().$("#gridList").trigger("reloadGrid");
    //                }
    //            })
    //        }
    //    });
    //}

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-cloud-upload"></i>上传</a>
        </div>
 
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-preview" authorize="yes" onclick="btn_preview()"><i class="fa fa-search-plus"></i>预览</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td style="padding-left: 2px;">
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
