@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/PatientManage/Drugs/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_GroupName").bindSelect()
        //$("#F_DefaultType").bindSelect()
        //$("#F_EnabledMark").bindSelect()  
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">基本信息</a></li>
            <li role="presentation"><a href="#extend" role="tab" data-toggle="tab">扩展信息</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px; margin-right: 10px; ">
            <div role="tabpanel" class="tab-pane active" id="basic">
                <table class="form">
                    <tr>
                        <th class="formTitle">药品代码</th>
                        <td class="formValue">
                            <input id="F_DrugCode" name="F_DrugCode" type="text" class="form-control required" placeholder="请输入药品代码" />
                        </td>
                        <th class="formTitle">药品名称</th>
                        <td class="formValue">
                            <input id="F_DrugName" name="F_DrugName" type="text" class="form-control required" placeholder="请输入药品名称" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">药品规格</th>
                        <td class="formValue">
                            <input id="F_DrugSpec" name="F_DrugSpec" type="text" class="form-control required" placeholder="请输入药品规格" />
                        </td>
                        <th class="formTitle">药品单位</th>
                        <td class="formValue">
                            <input id="F_DrugUnit" name="F_DrugUnit" type="text" class="form-control required" placeholder="请输入药品单位" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">小剂量</th>
                        <td class="formValue">
                            <input id="F_DrugMiniAmount" name="F_DrugMiniAmount" type="text" class="form-control required" />
                        </td>
                        <th class="formTitle">小规格</th>
                        <td class="formValue">
                            <input id="F_DrugMiniSpec" name="F_DrugMiniSpec" type="text" class="form-control required" />
                        </td>             
                    </tr>
                    <tr>
                        <th class="formTitle">包装</th>
                        <td class="formValue">
                            <input id="F_DrugMiniPackage" name="F_DrugMiniPackage" type="text" class="form-control required" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">药品单价</th>
                        <td class="formValue">
                            <input id="F_Charges" name="F_Charges" type="text" class="form-control" />
                        </td>
                        <th class="formTitle">拼音码</th>
                        <td class="formValue">
                            <input id="F_DrugSpell" name="F_DrugSpell" type="text" class="form-control required" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">用药途径</th>
                        <td class="formValue">
                            <input id="F_DrugAdministration" name="F_DrugAdministration" type="text" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" style="height: 35px;">选项</th>
                        <td class="formValue" style="padding-top: 1px;">
                            <div class="ckbox">
                                <input id="F_IsHeparin" name="F_IsHeparin" type="checkbox"><label for="F_IsHeparin">是否抗凝剂</label>
                            </div>
                            <div class="ckbox">
                                <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            药品厂商
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_DrugSupplier" name="F_DrugSupplier" class="form-control" style="height: 60px; width :630px"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="extend">

            </div>
        </div>
    </div>
</form>
