@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/PatientManage/Treatment/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        //$("#F_GroupName").bindSelect()
        //$("#F_DefaultType").bindSelect()
        //$("#F_EnabledMark").bindSelect()  
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">基本信息</a></li>
            <li role="presentation"><a href="#extend" role="tab" data-toggle="tab">扩展信息</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px; margin-right: 10px; ">
            <div role="tabpanel" class="tab-pane active" id="basic">
                <table class="form">
                    <tr>
                        <th class="formTitle">项目代码</th>
                        <td class="formValue">
                            <input id="F_TreatmentCode" name="F_TreatmentCode" type="text" class="form-control required" placeholder="请输入项目代码" />
                        </td>
                        <th class="formTitle">项目名称</th>
                        <td class="formValue">
                            <input id="F_TreatmentName" name="F_TreatmentName" type="text" class="form-control required" placeholder="请输入项目名称" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">项目规格</th>
                        <td class="formValue">
                            <input id="F_TreatmentSpec" name="F_TreatmentSpec" type="text" class="form-control required" placeholder="请输入项目规格" />
                        </td>
                        <th class="formTitle">项目单位</th>
                        <td class="formValue">
                            <input id="F_TreatmentUnit" name="F_TreatmentUnit" type="text" class="form-control required" placeholder="请输入项目单位" />
                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">项目单价</th>
                        <td class="formValue">
                            <input id="F_Charges" name="F_Charges" type="text" class="form-control" />
                        </td>
                        <th class="formTitle">拼音码</th>
                        <td class="formValue">
                            <input id="F_TreatmentSpell" name="F_TreatmentSpell" type="text" class="form-control required" />
                        </td>
                    </tr>
                    @*<tr>
                        <th class="formTitle">用药途径</th>
                        <td class="formValue">
                            <input id="F_TreatmentAdministration" name="F_TreatmentAdministration" type="text" class="form-control" />
                        </td>
                    </tr>*@
                    @*<tr>
                        <th class="formTitle">是否启用</th>
                        <td class="formValue">
                            <select id="F_EnabledMark" name="F_EnabledMark" class="form-control">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>*@
                    @*<tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            项目厂商
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_TreatmentSupplier" name="F_TreatmentSupplier" class="form-control" style="height: 60px; width :630px"></textarea>
                        </td>
                    </tr>*@
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="extend">

            </div>
        </div>
    </div>
</form>
