@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/jqprint/jquery.jqprint-0.3.js"></script>
<link media="print" href="~/Content/js/jqprint/common.css" rel="stylesheet" />
<script>
    var keyValue = $.request("keyValue");

    $(function () {
        var year = new Date().getFullYear();
        var month = new Date().getMonth() + 1;
        var day = new Date().getDate();
        var today = year + '-' + month + '-' + day;
        $("#visitDate").val(today);
        $("#bcall").prop("checked", true);
        initControl();
        $("#btn_query").trigger("click");
    });
    function initControl() {
        $("#bcall").on("change", function () {
            if (this.checked == true) {
                $("#bc1,#bc2,#bc3").prop("checked", false);
            }
        });
        $("#bc1,#bc2,#bc3").on("change", function () {
            if (this.checked == true) {
                $("#bcall").prop("checked", false);
            }
        });
        $("#selectall").on("click", function () {
            $(":checkbox").not("#bc1,#bc2,#bc3,#bcall").each(function () {
                $(this).prop("checked", true);
            });
        })
        $("#selectcancel").on("click", function () {
            $(":checkbox").not(".bc").each(function () {
                $(this).prop("checked", false);
            });
        })
        $("#btn_query").on("click", function () {
            var date = $("#visitDate").val();
            //var j = {};
            //j.date = date;
            //j.bcall = $("#bcall")["0"].checked;
            //j.bc1 = $("#bc1")["0"].checked;
            //j.bc2 = $("#bc2")["0"].checked;
            //j.bc3 = $("#bc3")["0"].checked;
            var visitDate = $("#visitDate").val();
            var visitNo = $("#bcall")["0"].checked
                ? 8
                : ($("#bc1")["0"].checked ? 1 : 0) + ($("#bc2")["0"].checked ? 2 : 0) + ($("#bc3")["0"].checked ? 4 : 0);

            if (!!visitDate) {
                $.ajax({
                    url: "/PatientManage/PatVisit/GetPrepareRecordJson",
                    data: {
                        visitDate: visitDate,
                        visitNo: visitNo
                    },
                    dataType: "json",
                    async: false,
                    success: function(data) {
                        refreshTable(data);
                    }
                });
            }
        });
        $("#btn_print").on("click", function () {
            var arr = [];
            $("input:checkbox:checked").not(".bc").each(function () {
                var j = {};
                j.F_Id = $(this).val();
                arr.push(j);
            });
            var keyValue = JSON.stringify(arr);
            if (!!keyValue) {
                if (arr.length > 0) {
                    $.post("/PatientManage/PatVisit/SubmitCreatePrepare",
                        JSON.stringify({ keyValue: keyValue }),
                        function(result) {
                            $("#prepareprint").html(result);
                            $("#prepareprint").attr("style", "display:block;"); //显示div
                            $("#prepareprint").jqprint();
                            $("#prepareprint").attr("style", "display:none;"); //隐藏div
                        });
                }   
            }  
        });

        $("#btn_printzld").on("click", function () {
            var arr = [];
            $("input:checkbox:checked").not(".bc").each(function () {
                var j = {};
                j.F_Id = $(this).val();
                arr.push(j);
            });
            var keyValue = JSON.stringify(arr);
            if (!!keyValue) {
                if (arr.length > 0) {
                    $.post("/PatientManage/PatVisit/GetReportImageBatch",
                        JSON.stringify({
                            keyValue: keyValue
                        }),
                        function(result) {
                            $("#zldprint").html(result);
                            $("#zldprint").attr("style", "display:block;"); //显示div
                            $("#zldprint").jqprint();
                            $("#zldprint").attr("style", "display:none;"); //隐藏div
                        });
                }
            }
        });

        //btn_printtqzld
        $("#btn_printtqzld").on("click", function () {
            var arr = [];
            $("input:checkbox:checked").not(".bc").each(function () {
                var j = {};
                j.F_Id = $(this).val();
                arr.push(j);
            });
            var keyValue = JSON.stringify(arr);
            if (!!keyValue) {
                if (arr.length > 0) {
                    $.post("/PatientManage/PatVisit/GetReportImageBatchTQ", JSON.stringify({
                            keyValue: keyValue
                        })
                        , function (result) {
                        $("#zldprint").html(result);
                        $("#zldprint").attr("style", "display:block;");//显示div
                        $("#zldprint").jqprint();
                        $("#zldprint").attr("style", "display:none;");//隐藏div
                    });
                }
            }
        });

        $("#btn_close").on("click", function () {
            $.modalClose();
        });
    }
    function refreshTable(data) {
        var $table = $("#table");
        $table.html();
        var json = eval(data);
        var htmlstr = "";
        $.each(json, function (idx, obj) {
            if (idx % 5 == 0) {
                if (idx == 0) {
                    htmlstr = htmlstr + "<tr>";
                }
                else {
                    htmlstr = htmlstr + "</tr><tr>";
                }
            }
            htmlstr = htmlstr + "<td class=\"formValue\" style=\"padding-top: 1px;\"><div class=\"ckbox\"><input id=\"check" + idx + "\" name=\"check" + idx + "\" type=\"checkbox\"  value=\"" + obj.F_Id + "\"><label for=\"check" + idx + "\">" + obj.F_Name + " " + obj.F_DialysisType + "</label></div></td>";
        });
        htmlstr = htmlstr + "</tr>";
        $table.html(htmlstr);
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <table class="form">
            <tr>
                <th class="formTitle">起始日期</th>
                <td class="formValue">
                    <input id="visitDate" name="visitDate" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})" autocomplete="off"/>
                </td>
                <th class="formTitle" style="height: 35px;">班次</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="bcall" name="bcall" type="checkbox" checked="checked" class="bc"><label for="bcall">全部</label>
                    </div>
                    <div class="ckbox">
                        <input id="bc1" name="bc1" type="checkbox" class="bc"><label for="bc1">第一班</label>
                    </div>
                    <div class="ckbox">
                        <input id="bc2" name="bc2" type="checkbox" class="bc"><label for="bc2">第二班</label>
                    </div>
                    <div class="ckbox">
                        <input id="bc3" name="bc3" type="checkbox" class="bc"><label for="bc3">第三班</label>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <a id="btn_query" class="btn btn-default"><i class="fa fa-search"></i>查询</a>
            <a id="btn_printtqzld" class="btn btn-warning"><i class="fa fa-print"></i>透前治疗单</a>
            <a id="btn_print" class="btn btn-warning"><i class="fa fa-print"></i>透前准备清单</a>
            <a id="btn_printzld" class="btn btn-warning"><i class="fa fa-print"></i>治疗单</a>
            <a id="btn_close" class="btn btn-danger"><i class="fa fa-close"></i>关闭</a>
            <a id="selectcancel" class="btn btn-default" style="float:right;margin-left:5px;margin-right:5px;"><i class="fa fa-plus"></i>反选</a>
            <a id="selectall" class="btn btn-primary" style="float:right;margin-left:5px;margin-right:5px;"><i class="fa fa-plus"></i>全选</a>
        </div>
    </div>
    <div style="margin-top: 20px; margin-left: 30px; margin-right: 30px;">
        <table class="form" id="table"></table>
    </div>
    <div id="prepareprint" style="visibility:hidden;display:none">
    </div>
    <div id="zldprint" style="visibility:hidden;display:none">
    </div>
</form>
