@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/js/fileinput/fileinput.min.css">
<script src="~/Content/js/fileinput/fileinput.min.js"></script>
<script src="~/Content/js/fileinput/zh.js"></script>
<style type="text/css">
    div .btn-file {
        display: none;
    }
</style>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $.ajax({
            url: "/DataStatistics/GuideBook/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                var config = {}
                config.caption = data.F_FileIndex;
                if (data.F_FileType == "pdf") {
                    config.type = data.F_FileType;
                }
                config.size = data.F_FileSize;
                config.width = "500px";
                config.heigh = "400px";
                config.key = 101;
                var control = $('#reportFile');
                control.fileinput({
                    language: 'zh',                                         //设置语言
                    showUpload: false,                                       //是否显示上传按钮
                    showRemove: false,                                      //显示移除按钮
                    showPreview: true,                                     //是否显示预览
                    showCaption: false,                                     //是否显示标题//默认异步上传
                    dropZoneEnabled: false,                               //是否显示拖拽区域
                    minImageWidth: 450,                                    //图片的最小宽度
                    minImageHeight: 450,                                   //图片的最小高度
                    maxImageWidth: 1000,                                  //图片的最大宽度
                    maxImageHeight: 1000,                                 //图片的最大高度
                    validateInitialCount: true,
                    initialPreview: [data.F_FilePath],
                    initialPreviewAsData: true,
                    initialPreviewConfig: [config]
                });
            }
        });
    });

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <input type="file" name="reportFile" id="reportFile" class="file-loading" style="height: 60px;"/>
    </div>
</form>
