@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PatientManage/FileIndex/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        getPatient();
        getOperator();
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/PatientManage/FileIndex/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function getPatient() {
        $.ajax({
            url: "/PatientManage/Patient/GetSelectJson",
            data: { keyValue: "" },
            dataType: "json",
            async: false,
            success: function (data) {
                var arr = [];
                $.each(data, function (index, item) {
                    //id = r.F_Id, name = r.F_Name, recordNo = r.F_DialysisNo, py = r.F_PY
                    var id = item.id;
                    var text = item.name + "(" + item.py + ")";
                    arr.push({ id, text });
                });
                $("#F_Pid").bindSelect({
                    data: arr,
                    search: true
                })
            }
        });
    }
    function getOperator() {
        $.ajax({
            url: "/SystemManage/User/GetUserNameJson",
            data: { keyValue: null },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#Checkperson").bindSelect({
                    id: "id",
                    text: "text",
                    data: data,
                    search: true
                });

                $("#Checknurse").bindSelect({
                    id: "id",
                    text: "text",
                    data: data,
                    search: true
                });
            }
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <table class="form">
            <tr>
                <th class="formTitle">患者姓名</th>
                <td class="formValue">
                    <select id="F_Pid" name="F_Pid" class="form-control" placeholder="请选择患者">
                        <option value=""></option>
                    </select>
                </td>
                <th class="formTitle">责任组长</th>
                <td class="formValue">
                    <select id="Checkperson" name="Checkperson" class="form-control" placeholder="请选择">
                        <option value=""></option>
                    </select>
                </td>
                <th class="formTitle">责任护士</th>
                <td class="formValue">
                    <select id="Checknurse" name="Checknurse" class="form-control" placeholder="请选择">
                        <option value=""></option>
                    </select>
                </td>
                <th class="formTitle">透析日期</th>
                <td class="formValue">
                    <input id="F_VisitDate" name="F_VisitDate" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({maxDate: '%y-%M-%d'})" />
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px; margin-left: 20px; margin-right: 20px;">
        <h5>一般护理评估</h5>

        <table class="form">
            <tr>
                <th class="formTitle">入室方式</th>
                <td class="formValue">
                    <div class="ckbox"><input id="Rsfs1" name="Rsfs1" type="checkbox"><label for="Rsfs1">自行步入</label></div>
                </td>
                <td class="formValue">
                    <div class="ckbox"><input id="Rsfs2" name="Rsfs2" type="checkbox"><label for="Rsfs2">轮椅</label></div>
                </td>
                <td class="formValue">
                    <div class="ckbox"><input id="Rsfs3" name="Rsfs3" type="checkbox"><label for="Rsfs3">推床</label></div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">血压</th>
                <td class="formValue">
                    <div class="ckbox"><input id="Xy1" name="Xy1" type="checkbox"><label for="Xy1">正常</label></div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xy2" name="Xy2" type="checkbox" >
                        <label for="Xy2">
                            偏高&nbsp;<input id="Xyvalue1" name="Xyvalue1" type="text" style="width:40px;" />&nbsp;mmHg
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xy3" name="Xy3" type="checkbox">
                        <label for="Xy3">
                            偏低&nbsp;<input id="Xyvalue2" name="Xyvalue2" type="text" style="width:40px;" />&nbsp;mmHg
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox"><input id="Xy4" name="Xy4" type="checkbox"><label for="Xy4">未测</label></div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">心率</th>
                <td class="formValue">
                    <div class="ckbox"><input id="Xl1" name="Xl1" type="checkbox"><label for="Xl1">正常</label></div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xl2" name="Xl2" type="checkbox" >
                        <label for="Xl2">
                            偏高&nbsp;<input id="Xlvalue1" name="Xlvalue1" type="text" style="width:40px;" />&nbsp;次/分
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xl3" name="Xl3" type="checkbox">
                        <label for="Xl3">
                            偏低&nbsp;<input id="Xlvalue2" name="Xlvalue2" type="text" style="width:40px;" />&nbsp;次/分
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox"><input id="Xl4" name="Xl4" type="checkbox"><label for="Xl4">未测</label></div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">呼吸</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hx1" name="Hx1" type="checkbox">
                        <label for="Hx1">正常</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hx2" name="Hx2" type="checkbox" >
                        <label for="Hx2">不规则呼吸</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hx3" name="Hx3" type="checkbox">
                        <label for="Hx3">    无咳嗽    </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hx4" name="Hx4" type="checkbox">
                        <label for="Hx4">有咳嗽    </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">&nbsp;</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hx5" name="Hx5" type="checkbox">
                        <label for="Hx5">无痰液    </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hx6" name="Hx6" type="checkbox" >
                        <label for="Hx6">有痰液</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">体温</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tw1" name="Tw1" type="checkbox">
                        <label for="Tw1">正常</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tw2" name="Tw2" type="checkbox" >
                        <label for="Tw2">未测 </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tw3" name="Tw3" type="checkbox" >
                        <label for="Tw3">发热&nbsp;<input id="Twvalue1" name="Twvalue1" type="text" style="width:40px;" />&nbsp;℃</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">生活自理能力</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Shzlnl1" name="Shzlnl1" type="checkbox">
                        <label for="Shzlnl1">完全独立</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Shzlnl2" name="Shzlnl2" type="checkbox" >
                        <label for="Shzlnl2">辅助</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Shzlnl3" name="Shzlnl3" type="checkbox" >
                        <label for="Shzlnl3">依赖</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">体力</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tl1" name="Tl1" type="checkbox">
                        <label for="Tl1">良好      </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tl2" name="Tl2" type="checkbox" >
                        <label for="Tl2">一般      </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tl3" name="Tl3" type="checkbox" >
                        <label for="Tl3">差</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">卧位</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ww1" name="Ww1" type="checkbox">
                        <label for="Ww1">平卧位</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ww2" name="Ww2" type="checkbox" >
                        <label for="Ww2">半卧位</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ww3" name="Ww3" type="checkbox" >
                        <label for="Ww3">坐位</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">食欲</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sy1" name="Sy1" type="checkbox">
                        <label for="Sy1">良好    </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sy2" name="Sy2" type="checkbox" >
                        <label for="Sy2">  一般      </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sy3" name="Sy3" type="checkbox" >
                        <label for="Sy3">差</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">饮水量控制</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yslkz1" name="Yslkz1" type="checkbox">
                        <label for="Yslkz1">好    </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yslkz2" name="Yslkz2" type="checkbox" >
                        <label for="Yslkz2">    较好  </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yslkz3" name="Yslkz3" type="checkbox" >
                        <label for="Yslkz3">    困难</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">睡眠</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sm1" name="Sm1" type="checkbox">
                        <label for="Sm1"> 良好 </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sm2" name="Sm2" type="checkbox" >
                        <label for="Sm2">     一般 </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sm3" name="Sm3" type="checkbox" >
                        <label for="Sm3">     差</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">尿量</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nl1" name="Nl1" type="checkbox">
                        <label for="Nl1">无</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nl2" name="Nl2" type="checkbox" >
                        <label for="Nl2">有&nbsp;<input id="Nlvalue1" name="Nlvalue1" type="text" style="width:40px;" />&nbsp;ml/d</label>
                    </div>
                </td>

            </tr>
            <tr>
                <th class="formTitle">大便</th>
                <td class="formValue">
                    <label for="Dd1"><input id="Ddvalue1" name="Ddvalue1" type="text" style="width:40px;" />&nbsp;次/日</label>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Dd1" name="Dd1" type="checkbox" >
                        <label for="Dd1">便秘</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Dd2" name="Dd2" type="checkbox" >
                        <label for="Dd2">腹泻性状</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">出血</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Cx1" name="Cx1" type="checkbox">
                        <label for="Cx1">无</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Cx2" name="Cx2" type="checkbox" >
                        <label for="Cx2">有&nbsp;&nbsp;部位<input id="Cxvalue1" name="Cxvalue1" type="text" style="width:80px;" /></label>
                    </div>
                </td>

            </tr>
            <tr>
                <th class="formTitle">用药情况</th>
                <td class="formValue">
                    <div class="ckbox"><input id="Yyqk1" name="Yyqk1" type="checkbox"><label for="Yyqk1">降压药 </label></div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yyqk2" name="Yyqk2" type="checkbox" >
                        <label for="Yyqk2">    降糖药  </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yyqk3" name="Yyqk3" type="checkbox">
                        <label for="Yyqk3">  抗凝药物  </label>
                    </div>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <th class="formTitle">&nbsp;</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yyqk4" name="Yyqk4" type="checkbox">
                        <label for="Yyqk4">
                            其他&nbsp;&nbsp;药名<input id="Yyqkvalue1" name="Yyqkvalue1" type="text" style="width:400px;" />
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <h5>前次治疗后专科评估</h5>

        <table class="form">
            <tr>
                <th class="formTitle">前次透析后情况</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Qctxhqk1" name="Qctxhqk1" type="checkbox">
                        <label for="Qctxhqk1">无不适</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Qctxhqk2" name="Qctxhqk2" type="checkbox" >
                        <label for="Qctxhqk2">恶心、呕吐 </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Qctxhqk3" name="Qctxhqk3" type="checkbox" >
                        <label for="Qctxhqk3">头痛</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Qctxhqk4" name="Qctxhqk4" type="checkbox" >
                        <label for="Qctxhqk4">头晕</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">&nbsp;</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Qctxhqk5" name="Qctxhqk5" type="checkbox">
                        <label for="Qctxhqk5">低血压</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Qctxhqk6" name="Qctxhqk6" type="checkbox" >
                        <label for="Qctxhqk6">其他 </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">脱水情况</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tsqk1" name="Tsqk1" type="checkbox">
                        <label for="Tsqk1">达到干体重 </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tsqk2" name="Tsqk2" type="checkbox" >
                        <label for="Tsqk2">
                            少脱&nbsp;<input id="Tsqkvalue1" name="Tsqkvalue1" type="text" style="width:50px;" />&nbsp;kg
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tsqk3" name="Tsqk3" type="checkbox" >
                        <label for="Tsqk3">
                            多脱&nbsp;<input id="Tsqkvalue2" name="Tsqkvalue2" type="text" style="width:50px;" />&nbsp;kg
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tsqk4" name="Tsqk4" type="checkbox" >
                        <label for="Tsqk4"> 调整干体重</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">内瘘穿刺点情况</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk1" name="Nlccdqk1" type="checkbox">
                        <label for="Nlccdqk1">正常     </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk2" name="Nlccdqk2" type="checkbox" >
                        <label for="Nlccdqk2">
                            出血
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk3" name="Nlccdqk3" type="checkbox" >
                        <label for="Nlccdqk3">
                            淤血
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk4" name="Nlccdqk4" type="checkbox" >
                        <label for="Nlccdqk4">  血肿  </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">&nbsp;</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk5" name="Nlccdqk5" type="checkbox">
                        <label for="Nlccdqk5">   绳梯    </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk6" name="Nlccdqk6" type="checkbox" >
                        <label for="Nlccdqk6">
                            定点
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlccdqk7" name="Nlccdqk7" type="checkbox" >
                        <label for="Nlccdqk7">
                            区域
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <h5>新患者情况</h5>

        <table class="form">
            <tr>
                <th class="formTitle">是否首次透析</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sfsctx1" name="Sfsctx1" type="checkbox">
                        <label for="Sfsctx1">
                            是
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sfsctx2" name="Sfsctx2" type="checkbox">
                        <label for="Sfsctx2">
                            否
                        </label>
                    </div>
                </td>
                <th class="formTitle">首透日期</th>
                <td class="formValue">
                    <input id="Sctxdate" name="Sctxdate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})" />
                </td>
                <td class="formValue"></td>
                <td class="formValue"></td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <th class="formTitle">外院透析处方</th>
                <td class="formValue">
                    <label>
                        <input id="Wytxcfvalue1" name="Wytxcfvalue1" type="text" style="width:50px;" />&nbsp;次/周&nbsp;&nbsp;
                        <input id="Wytxcfvalue2" name="Wytxcfvalue2" type="text" style="width:50px;" />&nbsp;小时/次&nbsp;，&nbsp;
                        抗凝剂及用量&nbsp;<input id="Wytxcfvalue3" name="Wytxcfvalue3" type="text" style="width:450px;" />&nbsp;
                    </label>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <th class="formTitle">外院透析有无不适</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Wytxywbs1" name="Wytxywbs1" type="checkbox">
                        <label for="Wytxywbs1">
                            无
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Wytxywbs2" name="Wytxywbs2" type="checkbox">
                        <label for="Wytxywbs2">
                            有
                        </label>
                    </div>
                </td>
                <td class="formValue"></td>
                <td class="formValue"></td>
            </tr>
        </table>
        <h5>单针双腔导管置管术后</h5>

        <table class="form">
            <tr>
                <th class="formTitle">位置</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Wz1" name="Wz1" type="checkbox">
                        <label for="Wz1">临时性</label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Wz2" name="Wz2" type="checkbox" >
                        <label for="Wz2">
                            永久性
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Wz3" name="Wz3" type="checkbox" >
                        <label for="Wz3">
                            颈内静脉（左、右）
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Wz4" name="Wz4" type="checkbox" >
                        <label for="Wz4">
                            股静脉（左、右）
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <label>术后 &nbsp;<input id="Wzvalue1" name="Wzvalue1" type="text" style="width:50px;" />&nbsp;天</label>
                </td>
            </tr>
            <tr>
                <th class="formTitle">伤口外观</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Skwg1" name="Skwg1" type="checkbox">
                        <label for="Skwg1">       清洁  </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Skwg2" name="Skwg2" type="checkbox" >
                        <label for="Skwg2">
                            渗血
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Skwg3" name="Skwg3" type="checkbox" >
                        <label for="Skwg3">
                            红
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Skwg4" name="Skwg4" type="checkbox" >
                        <label for="Skwg4">
                            热
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Skwg5" name="Skwg5" type="checkbox" >
                        <label for="Skwg5">
                            痛
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <th class="formTitle"></th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Skwg6" name="Skwg6" type="checkbox" >
                        <label for="Skwg6">
                            血肿 &nbsp; &nbsp;大小  &nbsp;<input id="Skwgvalue1" name="Skwgvalue1" type="text" style="width:50px;" />&nbsp;   cm
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <th class="formTitle">
                    换药
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hy1" name="Hy1" type="checkbox" >
                        <label for="Hy1">
                            1次/日
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Hy2" name="Hy2" type="checkbox" >
                        <label for="Hy2">
                            1次/隔日
                        </label>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle">
                    导管流量
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Dgll1" name="Dgll1" type="checkbox" >
                        <label for="Dgll1">
                            充足
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Dgll2" name="Dgll2" type="checkbox" >
                        <label for="Dgll2">
                            不足
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Dgll3" name="Dgll3" type="checkbox" >
                        <label for="Dgll3">
                            A-V反接
                        </label>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle">
                    有无发热
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ywfr1" name="Ywfr1" type="checkbox" >
                        <label for="Ywfr1">
                            无
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ywfr2" name="Ywfr2" type="checkbox" >
                        <label for="Ywfr2">
                            有    &nbsp; &nbsp;<input id="Ywfrvalue1" name="Ywfrvalue1" type="text" style="width:50px;" />&nbsp;   ℃
                        </label>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h5>动静脉内瘘吻合术后</h5>

        <table class="form">
            <tr>
                <th class="formTitle">
                    位置
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Place1" name="Place1" type="checkbox" >
                        <label for="Place1">
                            自体（上、下、左、右）肢
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Place2" name="Place2" type="checkbox" >
                        <label for="Place2">
                            人工血管（上、下、左、右）肢
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <label>
                        术后 &nbsp; &nbsp;<input id="Placevalue1" name="Placevalue1" type="text" style="width:50px;" />&nbsp;      天
                        &nbsp; &nbsp;<input id="Placevalue2" name="Placevalue2" type="text" style="width:50px;" />&nbsp;   周
                    </label>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <th class="formTitle">
                    上次透析穿刺状况
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sctxcczz1" name="Sctxcczz1" type="checkbox" >
                        <label for="Sctxcczz1">
                            顺利
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sctxcczz2" name="Sctxcczz2" type="checkbox" >
                        <label for="Sctxcczz2">
                            二次穿刺
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sctxcczz3" name="Sctxcczz3" type="checkbox" >
                        <label for="Sctxcczz3">
                            穿刺处外观正常
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sctxcczz4" name="Sctxcczz4" type="checkbox" >
                        <label for="Sctxcczz4">
                            淤血
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sctxcczz5" name="Sctxcczz5" type="checkbox" >
                        <label for="Sctxcczz5">
                            肿胀
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    触、听诊血管杂音
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgzy1" name="Xgzy1" type="checkbox" >
                        <label for="Xgzy1">
                            正常
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgzy2" name="Xgzy2" type="checkbox" >
                        <label for="Xgzy2">
                            弱
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgzy3" name="Xgzy3" type="checkbox" >
                        <label for="Xgzy3">
                            无
                        </label>
                    </div>
                </td>
            </tr>

            <tr>
                <th class="formTitle">
                    内瘘成熟训练
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlcsxl1" name="Nlcsxl1" type="checkbox" >
                        <label for="Nlcsxl1">
                            无
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlcsxl2" name="Nlcsxl2" type="checkbox" >
                        <label for="Nlcsxl2">
                            有   &nbsp;<input id="Nlcsxlvalue1" name="Nlcsxlvalue1" type="text" style="width:50px;" />&nbsp;次/日
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    内瘘使用年限
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlsynx1" name="Nlsynx1" type="checkbox" >
                        <label for="Nlsynx1">
                            一个月内
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlsynx2" name="Nlsynx2" type="checkbox" >
                        <label for="Nlsynx2">
                            六个月内
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlsynx3" name="Nlsynx3" type="checkbox" >
                        <label for="Nlsynx3">
                            一年内
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Nlsynx4" name="Nlsynx4" type="checkbox" >
                        <label for="Nlsynx4">
                            一年以上
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <h5>健康教育指导</h5>

        <table class="form">
            <tr>
                <th class="formTitle">
                    健康教育方式
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Jkjyfs1" name="Jkjyfs1" type="checkbox" >
                        <label for="Jkjyfs1">
                            口头宣教
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Jkjyfs2" name="Jkjyfs2" type="checkbox" >
                        <label for="Jkjyfs2">
                            健教单张
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Jkjyfs3" name="Jkjyfs3" type="checkbox" >
                        <label for="Jkjyfs3">
                            PPT讲解
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Jkjyfs4" name="Jkjyfs4" type="checkbox" >
                        <label for="Jkjyfs4">
                            视频
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    饮食指导
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yszd1" name="Yszd1" type="checkbox" >
                        <label for="Yszd1">
                            饮水控制
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yszd2" name="Yszd2" type="checkbox" >
                        <label for="Yszd2">
                            蛋白质摄入
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yszd3" name="Yszd3" type="checkbox" >
                        <label for="Yszd3">
                            高钾食物
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yszd4" name="Yszd4" type="checkbox" >
                        <label for="Yszd4">
                            高磷食物
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Yszd5" name="Yszd5" type="checkbox" >
                        <label for="Yszd5">
                            怎样吃盐
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    运动指导
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ydzd1" name="Ydzd1" type="checkbox" >
                        <label for="Ydzd1">
                            哪些运动可以做
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ydzd2" name="Ydzd2" type="checkbox" >
                        <label for="Ydzd2">
                            预防跌倒的方法
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Ydzd3" name="Ydzd3" type="checkbox" >
                        <label for="Ydzd3">
                            立即停止运动的时刻
                        </label>
                    </div>
                </td>

            </tr>
            <tr>
                <th class="formTitle">
                    血管通路指导
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgtlzd1" name="Xgtlzd1" type="checkbox" >
                        <label for="Xgtlzd1">
                            日常护理
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgtlzd2" name="Xgtlzd2" type="checkbox" >
                        <label for="Xgtlzd2">
                            内瘘闭塞处理
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgtlzd3" name="Xgtlzd3" type="checkbox" >
                        <label for="Xgtlzd3">
                            止血带的使用
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Xgtlzd4" name="Xgtlzd4" type="checkbox" >
                        <label for="Xgtlzd4">
                            内瘘成熟训练
                        </label>
                    </div>
                </td>

            </tr>
            <tr>
                <th class="formTitle">
                    体重管理
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tzgl1" name="Tzgl1" type="checkbox" >
                        <label for="Tzgl1">
                            何谓干体重
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tzgl2" name="Tzgl2" type="checkbox" >
                        <label for="Tzgl2">
                            体重增加的标准
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Tzgl3" name="Tzgl3" type="checkbox" >
                        <label for="Tzgl3">
                            干体重的调整
                        </label>
                    </div>
                </td>
            </tr>

        </table>
        <table class="form">
            <tr>
                <th class="formTitle">
                    受教者
                </th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sjz1" name="Sjz1" type="checkbox" >
                        <label for="Sjz1">
                            患者本人
                        </label>
                    </div>
                </td>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Sjz2" name="Sjz2" type="checkbox" >
                        <label for="Sjz2">
                            照顾者&nbsp;（&nbsp;配偶、父母、子女、护工、其它 &nbsp;姓名 <input id="Sjzvalue1" name="Sjzvalue1" type="text" style="width:50px;" />&nbsp;)
                        </label>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</form>
